<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_battery_additional</key>
	<string>percentageAndTime</string>
	<key>Battery_battery_color</key>
	<false/>
	<key>Battery_battery_hideAdditionalWhenFull</key>
	<false/>
	<key>Battery_notifications_high</key>
	<string></string>
	<key>Battery_notifications_low</key>
	<string>low</string>
	<key>CPU_barChart_position</key>
	<integer>0</integer>
	<key>CPU_bar_chart_box</key>
	<false/>
	<key>CPU_bar_chart_color</key>
	<string>monochrome</string>
	<key>CPU_bar_chart_frame</key>
	<false/>
	<key>CPU_bar_chart_label</key>
	<true/>
	<key>CPU_label_position</key>
	<integer>1</integer>
	<key>CPU_lineChart_position</key>
	<integer>5</integer>
	<key>CPU_mini_color</key>
	<string>black</string>
	<key>CPU_mini_position</key>
	<integer>4</integer>
	<key>CPU_pieChart_position</key>
	<integer>2</integer>
	<key>CPU_processes</key>
	<integer>15</integer>
	<key>CPU_splitValue</key>
	<false/>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>3</integer>
	<key>CPU_usagePerCore</key>
	<true/>
	<key>CPU_widget</key>
	<string>bar_chart</string>
	<key>Disk_state</key>
	<false/>
	<key>FAN_bar_chart_box</key>
	<false/>
	<key>FAN_bar_chart_color</key>
	<string>monochrome</string>
	<key>FAN_bar_chart_frame</key>
	<true/>
	<key>FAN_bar_chart_label</key>
	<true/>
	<key>GPU_barChart_position</key>
	<integer>0</integer>
	<key>GPU_bar_chart_box</key>
	<false/>
	<key>GPU_bar_chart_color</key>
	<string>monochrome</string>
	<key>GPU_bar_chart_frame</key>
	<false/>
	<key>GPU_bar_chart_label</key>
	<true/>
	<key>GPU_label_position</key>
	<integer>1</integer>
	<key>GPU_lineChart_position</key>
	<integer>2</integer>
	<key>GPU_mini_position</key>
	<integer>4</integer>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>3</integer>
	<key>GPU_widget</key>
	<string>bar_chart</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{880, 690}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSStatusItem Preferred Position Battery_battery</key>
	<real>215</real>
	<key>NSStatusItem Preferred Position CPU_bar_chart</key>
	<real>280</real>
	<key>NSStatusItem Preferred Position GPU_bar_chart</key>
	<real>354</real>
	<key>NSStatusItem Preferred Position Network_network_chart</key>
	<real>470</real>
	<key>NSStatusItem Preferred Position RAM_bar_chart</key>
	<real>389</real>
	<key>NSStatusItem Preferred Position Sensors_bar_chart</key>
	<real>424</real>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>1</integer>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>1072 640 728 480 0 0 1800 1129 </string>
	<key>Network_label_position</key>
	<integer>1</integer>
	<key>Network_networkChart_position</key>
	<integer>0</integer>
	<key>Network_network_chart_frame</key>
	<false/>
	<key>Network_speed_position</key>
	<integer>2</integer>
	<key>Network_widget</key>
	<string>network_chart</string>
	<key>RAM_barChart_position</key>
	<integer>0</integer>
	<key>RAM_bar_chart_box</key>
	<false/>
	<key>RAM_bar_chart_color</key>
	<string>monochrome</string>
	<key>RAM_bar_chart_frame</key>
	<false/>
	<key>RAM_bar_chart_label</key>
	<true/>
	<key>RAM_label_position</key>
	<integer>1</integer>
	<key>RAM_lineChart_position</key>
	<integer>2</integer>
	<key>RAM_memory_position</key>
	<integer>4</integer>
	<key>RAM_mini_position</key>
	<integer>6</integer>
	<key>RAM_pieChart_position</key>
	<integer>3</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>5</integer>
	<key>RAM_widget</key>
	<string>bar_chart</string>
	<key>Sensors_barChart_position</key>
	<integer>0</integer>
	<key>Sensors_bar_chart_box</key>
	<false/>
	<key>Sensors_bar_chart_color</key>
	<string>monochrome</string>
	<key>Sensors_bar_chart_frame</key>
	<false/>
	<key>Sensors_bar_chart_label</key>
	<true/>
	<key>Sensors_label_position</key>
	<integer>1</integer>
	<key>Sensors_sensors_position</key>
	<integer>2</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_widget</key>
	<string>bar_chart</string>
	<key>fan_0_mode</key>
	<integer>0</integer>
	<key>fan_0_speed</key>
	<integer>3687</integer>
	<key>fan_1_mode</key>
	<integer>0</integer>
	<key>fan_1_speed</key>
	<integer>3992</integer>
	<key>remote_tokens_migrated_to_keychain</key>
	<true/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_F0Ac</key>
	<true/>
	<key>sensor_F1Ac</key>
	<true/>
	<key>sensor_Fastest Fan</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1780594293</integer>
	<key>telemetry</key>
	<true/>
	<key>updater_check_ts</key>
	<integer>1780858131</integer>
	<key>updater_install_ts</key>
	<integer>1780857392</integer>
	<key>version</key>
	<string>3.0.0</string>
</dict>
</plist>
